body {
    margin: 0;
}

.main_body {
    background-color: gray;
    padding: 20px;
}

.shader_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1vw));
    justify-content: center;
}

iframe {
    background-color: black;
    height: 400px;
    width: 400px;
    border: 2px solid black; /* Set the border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow effect */
}